{% extends 'base/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<h2 class="welcome-text">Добро пожаловать на главную страницу!</h2>
<nav class="nav vertical-nav" style="width: 250px">
    <a class="nav-link" href="{% url 'about' %}">О нас</a>
    <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
    <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
    <a class="nav-link" href="{% url 'special_offers' %}">Специальные предложения</a>
    <a class="nav-link" href="{% url 'service_list' %}">Услуги</a>
    <a class="nav-link" href="{% url 'gallery_list' %}">Галерея</a>
    <a class="nav-link" href="{% url 'room_list' %}">Номера</a>
    <a class="nav-link" href="{% url 'book_room' %}">Бронирование номеров</a>
    <a class="nav-link" href="{% url 'add_review' %}">Добавить отзыв</a>
    <a class="nav-link" href="{% url 'review_list' %}">Посмотреть все отзывы</a>
    <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
    <a class="nav-link" href="{% url 'login' %}">Вход</a>
</nav>
{% endblock %}
