{% extends 'base/base.html' %}

{% block title %}Список услуг{% endblock %}

{% block content %}
<h1>Список услуг</h1>
<ul>
    {% for service in services %}
        <li>
            <strong>{{ service.title }}</strong>: {{ service.description }}
            <br>Цена: {{ service.price }} руб.
            {% if service.image %}
                <br><img src="{{ service.image.url }}" alt="{{ service.title }}" width="200">
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% if not services %}
<ul>
    <li>
        <strong>Уборка номера</strong>: Ежедневная уборка номера и смена постельного белья.
        <br>Цена: 500 руб.
    </li>
    <li>
        <strong>Завтрак в номер</strong>: Доставка завтрака в номер по вашему выбору.
        <br>Цена: 300 руб.
    </li>
    <li>
        <strong>Трансфер из аэропорта</strong>: Организация трансфера из аэропорта до отеля.
        <br>Цена: 1000 руб.
    </li>
</ul>
{% endif %}
{% endblock %}
